* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: relative;
}

header h1 {
    position: absolute;
    text-align: center;
    margin: 20px;
}

header #buttonlogin {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    position: absolute;
    right: 10px;
}

header #buttonlogin:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

nav {
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #00000073;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 25px;
}

nav ul li a:hover {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

section {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#descricao {
    text-align: center;
    margin-top: 15px;
    padding: 5px;
}

section .imgiphone {
    text-align: center;
    margin: 10px;
    flex: 1 1 200px;
}

section #buttonbuy {
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    color: #0077ED;
    border: 1px solid #0077ED;
    font-size: 20px;
}

section #buttonbuy:hover {
    background-color: #0077ED;
    color: white;
    cursor: pointer;
}

#checkbox {
    flex: 1 1 100%;
    text-align: center;
}

.checkboxClass {
    margin-left: 15px;
}

#checkboxred {
    accent-color: red;
}

#checkboxpurple {
    accent-color: rgb(179, 119, 179);
}

#checkboxgreen {
    accent-color: rgb(7, 80, 7);
}

#diviphonedeitado {
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#diviphonedeitado img {
    max-width: 100%;
    height: auto;
}

#diviphonedeitado h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 100;
}

article {
    background-color: rgb(230, 230, 230);
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px #00000073;
}

article h3 {
    margin-bottom: 10px;
}

#divdalogo {
    text-align: center;
}

#divdalogo img {
    max-width: 50%;
}

@media screen and (max-width: 520px) {
    header h1 {
        position: static;
        margin-bottom: 20px;
        display: block;
    }

    header #buttonlogin {
        position: static; 
        right: auto;
        display: block; 
    }
}